APScheduler==3.6.3
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
docutils==0.17
idna==2.10
Kivy==2.0.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
pyaes==1.6.1
pyasn1==0.4.8
Pygments==2.8.1
pypiwin32==223
pyTelegramBotAPI==3.7.7
python-telegram-bot==13.4.1
pytz==2021.1
pywin32==300
requests==2.25.1
rsa==4.7.2
six==1.15.0
soupsieve==2.2.1
Telethon==1.21.1
tornado==6.1
tzlocal==2.1
urllib3==1.26.4
